<section class="col-md-12" ng-controller = "UsersCtrl" style="background: lightgray">
    <div >
        <div style ="text-align: center">
            <h2 class="text-dark ">Ֆիզիկա</h2>
            <table class="table mt-5" border="3" style=" margin: 0px auto;" >
                <tr style="background-color: darkslategray; color: white" class="">
                    <td class="smallText1">Համարը</td>
                    <td class="smallText1">Անուն</td>
                    <td class="smallText1">Ազգանուն</td>
                    <td class="smallText1">Էլ․ փոստ</td>
                    <td class="smallText1">Հասցե</td>
                    <td class="smallText1">Դպրոց</td>
                    <td class="smallText1">Դասարան</td>
                    <td class="smallText1">Արդյունք</td>

                </tr>
                <tr ng-repeat="(index, user) in fizika | orderBy : '-count'">
                    <td class="smallText">{{ index+1}}</td>
                    <td class="smallText">{{ user.name }}</td>
                    <td class="smallText">{{ user.lastname }}</td>
                    <td class="smallText">{{ user.email }}</td>
                    <td class="smallText">{{ user.address }}</td>
                    <td class="smallText">{{ user.schoolName }}</td>
                    <td class="smallText">{{ user.class }}</td>
                    <td class="smallText">{{ user.count }}</td>
                </tr>
            </table>

        </div>

        <div class="mt-5" style ="text-align: center">
        <h2 class="text-dark" style ="margin: 0px auto">Ինֆորմատիկա </h2>

            <table class="table mt-5" border="3" style=" margin: 0px auto;" >
                <tr style="background-color: darkslategray; color: white">
                   <td class="smallText1">Համարը</td>
                    <td class="smallText1">Անուն</td>
                    <td class="smallText1">Ազգանուն</td>
                    <td class="smallText1">Էլ․ փոստ</td>
                    <td class="smallText1">Հասցե</td>
                    <td class="smallText1">Դպրոց</td>
                    <td class="smallText1">Դասարան</td>
                    <td class="smallText1">Արդյունք</td>

                </tr>
                <tr ng-repeat="(index, user) in informatica | orderBy : '-count'">
                    <td class="smallText">{{ index+1}}</td>
                    <td class="smallText">{{ user.name }}</td>
                    <td class="smallText">{{ user.lastname }}</td>
                    <td class="smallText">{{ user.email }}</td>
                    <td class="smallText">{{ user.address }}</td>
                    <td class="smallText">{{ user.schoolName }}</td>
                    <td class="smallText">{{ user.class }}</td>
                    <td class="smallText">{{ user.count }}</td>
                </tr>
            </table>
        </div>
        <div class="mt-5" style ="text-align: center">
        <h2 class="text-dark" style ="margin: 0px auto">Մաթեմատիկա</h2>

            <table class="table mt-5" border="3" style=" margin: 0px auto;" >
                <tr style="background-color: darkslategray; color: white">
                    <td class="smallText1">Համարը</td>
                    <td class="smallText1">Անուն</td>
                    <td class="smallText1">Ազգանուն</td>
                    <td class="smallText1">Էլ․ փոստ</td>
                    <td class="smallText1">Հասցե</td>
                    <td class="smallText1">Դպրոց</td>
                    <td class="smallText1">Դասարան</td>
                    <td class="smallText1">Արդյունք</td>

                </tr>
                <tr ng-repeat="(index, user) in matematica | orderBy : '-count'">
                    <td class="smallText">{{ index+1}}</td>
                    <td class="smallText">{{ user.name }}</td>
                    <td class="smallText">{{ user.lastname }}</td>
                    <td class="smallText">{{ user.email }}</td>
                    <td class="smallText">{{ user.address }}</td>
                    <td class="smallText">{{ user.schoolName }}</td>
                    <td class="smallText">{{ user.class }}</td>
                    <td class="smallText">{{ user.count }}</td>
                </tr>
            </table>
        </div>


    </div>
</section>